<%= form_for( @user ) do | f | %>
<% if @user.errors.any? %>
<h4><%= pluralize( @user.errors.count, "error") %>
    prohibited this product from being saved:
</h4>
<% end %>
<ul>
    <% @user.errors.full_messages.each do | msg | %>
    <li>
        <%= msg %>
    </li>
    <% end %>
</ul>
<p>
    <%= f.label :email %>
    <%= f.text_field :email %>
</p>
<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
