<h1>All Products</h1>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[ :search ] %>
  <%= submit_tag "Search" %>
  <% end %>

<div id="products">
  <%= render @products %>
</div>

<% if current_user %>
  <%= link_to "New", new_product_path %>
<% end %>

<!-- <script type="text/javascript">
  function display_search_results() {
    // readyState === 4 means that the asyncronous request completed successfully
    if ( this.readyState  === 4 ) {
      console.log( this );
      document.getElementById( 'products' ).innerHTML = this.responseText;
    }
  }

  var form = document.getElementById( 'search-form' );
  form.addEventListener( 'submit', function( event ) {
    event.preventDefault();
    var searchValue = document.getElementById( 'search' ).value;

    var xhr = new XMLHttpRequest();
    xhr.onload = display_search_results;
    xhr.open( 'GET', '/products?search=' + searchValue, true );
    xhr.setRequestHeader( "X-Requested-With", "XMLHttpRequest" );
    xhr.send();
  });
</script> -->
